.privacy {
  color: white;
  padding: 32px 64px;
}

.privacy p {
  padding: 24px;
  text-align: justify;
}

@media screen and (max-width: 640px) {
  .privacy {
    padding: 8px;
  }

  .privacy p {
    text-align: left;
  }

  .privacy h2 {
    text-align: center;
  }
}
